openapi: 3.0.0
info:
  description: |
    Welcome to our Nationex integration API.
    All of Nationex's APIS are organized around REST. If you’ve used RESTful APIs before, many of the concepts here will be familiar to you. 
    Each resource has a unique URL, and HTTP verbs are used to specify actions you want to perform on each resource. 
    All request and response bodies, including errors, are encoded in JSON.

    # Introduction
    Here’s what you can do with our APIs :
    - Create, update, cancel shipment.
    - Get shipment current status.
    - Get shipment rates.
    - Get shipment manifest.
    - Get labels. 

    # API version
    We release new versions when we make backwards-incompatible changes to our APIs.
    The current version of our APIs is v4, so the base URL will always look something like this :

    **https://api.nationex.com/api/v4**

    # Requirements
      You need to get API keys from our IT team at **support@nationex.com**. You will start with API development key and when you are ready to go live you will change your API for the production one.

    # Authentication
    Nationex Restful API needs authentication:
      Basic authentication is a simple authentication scheme built into the HTTP protocol. The client sends HTTP requests with the `Authorization header` that contains the word Basic word followed by a space and **a base64-encoded string username:password**. 
      For example, to authorize as demo / p@55w0rd the client would send Authorization: Basic ZGVtbzpwQDU1dzByZA==

    # Other
    - Nationex logo : https://apidocsprivate.nationex.com/images/Nationex_logo_CMYK.svg 
    - Nationex icon : https://apidocsprivate.nationex.com/images/Nationex_logo_RES_coul.png

    <SecurityDefinitions />
    # Response code
    | Status Code | Description | Note |
      |----|----|----|
      |`200` |  OK - The request was successful (some API calls may return 201 instead on `PUT`).|  <ul><li>GET request returns a representation of the requested entity.</li><li>The body of other requests will be a Status entity.</li></ul>|
      |`201` | Created - The request was successful and a resource was created. |<ul><li>This cannot happen on GET or DELETE requests.</li><li>This will happen on POST and may happen on PUT requests. </li></ul>
      |`204` | No Content | <ul><li>The request was successful but there is no representation to return (that is, the response is empty). </li></ul>|
      |`400` | Bad Request |  <ul><li>The request is invalid the body was missing required parameters and or parameter did not respect data validation see error messages in body.</li></ul>|
      |`401` | Unauthorized | <ul><li>Client authentication failed (invalid **user/password**). </li></ul> |
      |`403` | Forbidden | <ul><li>Access denied due to missing **Permissions**</li></ul>|
      |`404` | Not Found | <ul><li>No resource was found at this location (URI)</li><li>If the requested URL contains an **ID** , this means that we did not find anything matching the ID</li></ul>|
      |`405` | Method Not Allowed | <ul><li>Requested method is not supported for the specified resource. </li></ul>|
      |`406` | Not Acceptable | <ul><li>Request contains **Bad headers** for this request</li></ul>|
      |`5xx` | Server-Side Error | <ul><li>These codes should not be set programmatically and are reserved for unexpected errors. </li></ul>|
  version: '4.0'
  title: Nationex API
  contact:
    email: support@nationex.com
    url: https://nationex.com
  x-logo:
    url: 'https://apidocs.nationex.com/images/Nationex_logo_VER_coul.png'
    altText: Nationex logo    
servers:
  - url: 'https://api.nationex.com/api/v4'
    variables:
      environment:
        default: Development
        enum:
          - Production
          - Development
      version:
        default: "4"
        enum:
          - "4"
paths:
  /Shipments:
    post:
      tags:
        - Shipments
      summary: 'Create shipment'
      description: 'Create a new shipment'
      security:
        - BasicAuth: []
      requestBody:
          description: Shipment to create
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOShipmentCreate'
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOShipmentCreated'
        '400':
          description: 'InvalidInput: 	The max length of a field has been exceeded or the postal code is not covered by Nationex. The specific error message will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Address1 length is too long"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '409':
          description: 'Conflict: The ShipmentId already exists. Can only happen if shipmentId is provided by user (shipmentId != -1)'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Conflict'
              example: 
                code: 409
                message: "Duplicate shipment ID: 501339228"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}:
    get:
      tags:
        - Shipments
      summary: 'Get shipment'
      description: 'Returns details about a particular shipment'
      operationId: getShipment
      parameters:
        - name: id
          in: path
          description: ID of the shipment (9 digits)
          required: true
          example: 999999999
          schema:
            type: integer
            format: int32
            minimum: 100000000
            maximum: 999999999
        - name: tracking
          in: query
          description: Returns tracking (parcel history) or not
          example: true
          required: false
          schema:
            type: boolean
        - name: parcels
          in: query
          description: Returns the parcel infos (weights & dimensions) or not
          example: true
          required: false
          schema:
            type: boolean
        - name: consol
          in: query
          description: Returns all consolidated shipments or not
          example: true
          required: false
          schema:
            type: boolean
        - name: images
          in: query
          description: Returns all photos and signatures of the shipment
          example: true
          required: false
          schema:
            type: boolean
        - name: includeAll
          in: query
          description: Returns all parcel histories that are normally not displayed on the website. This parameter is hidden from the public Api.
          example: true
          required: false
          schema:
            type: boolean
        - name: key
          in: query
          description: (Optional) Allows someone with the key to access the shipment without having Api Basic credentials, the key is unique to the shipment.
          example: "1Z5DKWDpyPfcRDuY13W0UzI5LKfpelgod"
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'Details about a shipment by ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOShipment'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    delete:
      tags:
        - Shipments
      summary: 'Cancel shipment'
      description: 'Cancel a shipment, can only be used if the shipment is not billed or has no action (Pickup attempts, refusal, etc.)'
      operationId: delete
      parameters:
        - name: id
          in: path
          description: ID of the shipment
          required: true
          schema:
            type: integer
            format: int32
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    put:
      tags:
        - Shipments
      summary: 'Update shipment'
      description: "Update Sender Address, Destination Address, SNR or Notes of a shipment. Other fields can't be updated but an error will not be returned if an attempt is made to change an other field. False will be returned if nothing is changed, true if something is changed"
      operationId: updateShipment
      security:
        - BasicAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the shipment
          required: true
          schema:
            type: integer
            format: int32
            minimum: 100000000
            maximum: 999999999
        - name: key
          in: query
          description: (Optional) Allows someone with the key to access the shipment without having Api Basic credentials, the key is unique to the shipment.
          example: "1Z5DKWDpyPfcRDuY13W0UzI5LKfpelgod"
          required: false
          schema:
            type: string
        - name: reactivate
          in: query
          description: (Optional) Reactivates the shipment if true.
          example: false
          required: false
          schema:
            type: boolean
      requestBody:
          description: "shipment info"
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOShipment'
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                        value:
                          true
        '400':
          description: 'InvalidInput: 	The max length of a field has been exceeded or the postal code is not covered by Nationex. The specific error message will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Address1 length is too long"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/web/{id}:
    get:
      tags:
        - Shipments
      summary: 'Get shipment web'
      description: 'Returns details about a particular shipment'
      operationId: getShipmentWeb
      parameters:
        - name: id
          in: path
          description: ID of the shipment (9 digits), ID of parcel (11 digits), barcode, reference, visitcode
          required: true
          example: 999999999
          schema:
            type: string
        - name: tracking
          in: query
          description: Returns tracking (parcel history) or not
          example: true
          required: false
          schema:
            type: boolean
        - name: parcels
          in: query
          description: Returns the parcel infos (weights & dimensions) or not
          example: true
          required: false
          schema:
            type: boolean
        - name: consol
          in: query
          description: Returns all consolidated shipments or not
          example: true
          required: false
          schema:
            type: boolean
        - name: images
          in: query
          description: Returns all photos and signatures of the shipment
          example: true
          required: false
          schema:
            type: boolean
        - name: includeAll
          in: query
          description: Returns all parcel histories that are normally not displayed on the website. This parameter is hidden from the public Api.
          example: true
          required: false
          schema:
            type: boolean
        - name: key
          in: query
          description: (Optional) Allows someone with the key to access the shipment without having Api Basic credentials, the key is unique to the shipment.
          example: "1Z5DKWDpyPfcRDuY13W0UzI5LKfpelgod"
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'Details about a shipment by ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOShipment'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/webList/{id}:
    get:
      tags:
        - Shipments
      summary: 'Get shipment web'
      description: 'Returns details about a particular shipment'
      operationId: getShipmentWeb
      parameters:
        - name: id
          in: path
          description: ID of the shipment (9 digits), ID of parcel (11 digits), barcode, reference, visitcode
          required: true
          example: 999999999
          schema:
            type: string
        - name: page
          in: query
          description: Page number, starting at 0
          required: false
          schema:
            type: integer
            format: int32
            default: 0
          example: "0"
        - name: size
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            format: int32
            default: 100
          example: "100"
      responses:
        '200':
          description: 'Details about a shipment by ID'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DTOShipment'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}/reports:
    get:
      tags:
        - Shipments
      summary: 'Get shipment status report'
      description: 'Returns details about a particular shipment in PDF'
      operationId: getReports
      parameters:
        - name: id
          in: path
          description: ID of the shipment
          example: 999999999
          required: true
          schema:
            type: integer
            format: int32
        - name: language
          in: query
          required: true
          description: Language of the report
          schema:
            type: string
            enum: [Fr, En]
          example: Fr
        - name: consol
          in: query
          description: Returns the consolIds or not
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: 'Success'
          content:
            application/pdf:
              schema:
                type: string
                format: binary 
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}/labels:
    get:
      tags:
        - Shipments
      summary: 'Get labels'
      description: 'Returns labels attached to a particular shipment'
      operationId: getLabels
      parameters:
        - name: id
          in: path
          description: ID of the shipment or ID of a parcel for a single label
          required: true
          example: 103848576
          schema:
            type: integer
            format: int64
        - name: orientation
          in: query
          description: Orientation of the file
          example: landscape
          required: false
          schema:
            type: string
            enum: [landscape, portrait]
            default: landscape
        - name: format
          in: query
          description: Page format of the file
          required: false
          schema:
            type: string
            enum: [4x6, 85x11]
            default: 4x6
          example: 4x6
      responses:
        '200':
          description: 'Success'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}/labelsZpl:
    get:
      tags:
        - Shipments
      summary: 'Get labels ZPL'
      description: 'Returns ZPL label strings attached to a particular shipment'
      operationId: getLabelsZpl
      parameters:
        - name: id
          in: path
          description: ID of the shipment or ID of a parcel for a single label
          required: true
          example: 103848576
          schema:
            type: integer
            format: int64
        - name: orientation
          in: query
          description: Orientation of the file
          example: landscape
          required: false
          schema:
            type: string
            enum: [landscape, portrait]
            default: landscape
      responses:
        '200':
          description: 'ZPL String'
          content:
            application/json:
              schema:
                type: object
                properties:
                  ZPLString:
                    type: string
              examples:
                    String Response:
                      value:
                        '^XA^LRY\r\n^CF0,,30^FWR,0^FO750,100^FDLIBRAIRIE LU-LU ( ALQ )^FS\r\n^FO750,770^FDDATE: 2021-05-02^FS\r\n^FO750,1030^FD11:15:07^FS\r\n^FO720,100^FD144890^FS\r\n^FO720,770^FDREF: LIQ631858^FS\r\n^FO710,100^GB1,1040,3^FS\r\n^FO665,100^FDPOIDS(lbs): 1.00^FS\r\n^FO665,350^FD(KG): 0.45^FS\r\n^FO660,100^GB1,1040,3^FS\r\n^FO610,100^FDAURELIE CONSTANCIAS^FS\r\n^FO580,100^FD1259 RUE DU PEKAN^FS\r\n^FO550,100^FD^FS\r\n^FO520,100^FDSAINTE-JULIENNE, QC^FS\r\n^FO490,100^FDJ0K2T0^FS\r\n^CF0,,80^FWR,0^FO540,890^FDJ0K^FS\r\n^FO165,1040^GB95,50,90,b^FS\r\n^FO160,1050^FD^FS\r\n^FO545,720^GB95,160,90,b^FS\r\n^FO540,730^FDBLV^FS\r\n^FO390,1110^FD1^FS\r\n^FO370,660^BY4,2,230^BCr,150,Y,N,N^FDJ0K2T0^FS\r\n^FO80,100^BY5,2,230^B2r,,n,,n^FD999989028016^FS\r\n^CF0,, 45^FWR,0^FO20,210^FD999989028^FS\r\n^CF0,,40^FWR,0^FO70,630^FD1^FS\r\n^FO70,650^FD/1^FS\r\n^FO160,700^GB150,285,75,b^FS\r\n^FO250,720^FDFloor: ^FS\r\n^FO210,720^FDRoute: 25^FS\r\n^FO170,720^FDDriver: 250^FS\r\n^XZ'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}/dangerous:
    post:
      tags:
        - Shipments
      summary: 'Get dangerous goods PDF'
      description: 'Returns a dangerous goods PDF'
      operationId: getDangerousPDF
      parameters:
        - name: id
          in: path
          description: ID of the shipment or ID of a parcel for a single label
          required: true
          example: 103848576
          schema:
            type: integer
            format: int64
      requestBody:
          description: Dangerous Goods PDF report info
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTODangerousGoods'
      responses:
        '200':
          description: 'Success'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '400':
          description: 'InvalidInput: Class1 is required'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Class1 is required"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}/holdPickup:
    post:
      tags:
        - Shipments
      summary: 'Hold pickup'
      description: 'Holds the pickup for a PickupDelivery or PickupReturn. The pickup will not be done until reactivated. By default when creating a shipment, the pickup is already active.'
      operationId: holdPickup
      parameters:
        - name: id
          in: path
          description: ID of the shipment
          required: true
          example: 103848576
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '400':
          description: 'InvalidInput: The shipment is of type Delivery, unable to hold pickup'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "The shipment is of type Delivery, unable to reactivate pickup"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}/reactivatePickup:
    post:
      tags:
        - Shipments
      summary: 'Reactivate pickup'
      description: 'Reactivates the pickup for a PickupDelivery or PickupReturn. By default when creating a shipment, the pickup is already active.'
      operationId: reactivatePickup
      parameters:
        - name: id
          in: path
          description: ID of the shipment
          required: true
          example: 103848576
          schema:
            type: integer
            format: int64
        - name: pickupDate
          in: query
          description: 'Date of the pickup, defaults to next business day'
          required: false
          example: 2021-06-25
          schema:
            type: string
            format: date
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '400':
          description: 'InvalidInput: The shipment is of type Delivery, unable to reactivate pickup'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "The shipment is of type Delivery, unable to reactivate pickup"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}/sendPOD:
    post:
      tags:
        - Shipments
      summary: 'Send POD'
      description: 'Sends a POD (Proof of delivery) PDF to emails provided. It will be sent in the language of the customer.'
      operationId: sendPOD
      parameters:
        - name: id
          in: path
          description: ID of the shipment
          required: true
          example: 103848576
          schema:
            type: integer
            format: int64
        - name: userId
          in: query
          description: ID of the User sending the email
          required: true
          example: 1080
          schema:
            type: integer
            format: int32
        - name: emails
          in: query
          description: "Email addesses to be sent to, must be separated by ';'"
          required: true
          example: "test@test.com; test2@test.com"
          schema:
            type: string
            maxLength: 2000
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}/pod:
    get:
      tags:
        - Shipments
      summary: 'Get shipment POD'
      description: 'Returns proof of delivery for a shipment'
      operationId: getShipmentPOD
      parameters:
        - name: id
          in: path
          description: ID of the shipment (9 digits)
          required: true
          example: 999999999
          schema:
            type: integer
            format: int32
            minimum: 100000000
            maximum: 999999999
        - name: consol
          in: query
          description: Returns all consolidated shipments or not
          example: true
          required: false
          schema:
            type: boolean
        - name: images
          in: query
          description: Returns all photos and signatures of the shipment
          example: true
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: 'Details about a shipment by ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOShipmentPOD'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}/isScanned:
    get:
      tags:
        - Shipments
      summary: 'IsScanned'
      description: 'Returns true if the shipment has been scanned'
      operationId: getShipmentIsScanned
      parameters:
        - name: id
          in: path
          description: ID of the shipment (9 digits)
          required: true
          example: 999999999
          schema:
            type: integer
            format: int32
            minimum: 100000000
            maximum: 999999999
      responses:
        '200':
          description: 'Trus if has been scanned'
          content:
            application/json:
              schema:
                type: boolean
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"                
  /Shipments/:
    get:
      tags:
        - Shipments
      summary: 'Get shipment list'
      description: 'Returns the list of shipments if searching by address, or a list containing a single shipment if searching by waybill (ShipmentId, Barcode, ParcelId or Reference)'
      operationId: getListShipment
      parameters:
        - name: customer
          in: query
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema: 
            type: integer
            format: int32
        - name: search
          in: query
          description: Query string for search
          required: false
          schema:
            type: string
          example: 123 Main Street, New York, NY 10030
        - name: waybill
          in: query
          description: Get single shipment from ShipmentId, Barcode, ParcelId or Reference
          required: false
          schema:
            type: string
          example: 501938372
        - name: startDate
          in: query
          description: Start date in date range, defaults to current date.
          required: false
          schema:
            type: string
            format: date
          example: "2018-05-01"
        - name: endDate
          in: query
          description: End date in date range, defaults to current date.
          required: false
          schema:
            type: string
            format: date
          example: "2018-06-01"
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            format: int32
          example: "1"
        - name: size
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            format: int32
          example: "20"
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DTOShipment'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/advanced:
    post:
      tags:
        - Shipments
      summary: 'Get shipment list advanced'
      description: 'Returns the list of shipments'
      operationId: getListShipmentAdvanced
      requestBody:
          description: Shipment to create
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOShipmentAdvancedSearch'
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DTOShipment'
        '400':
          description: 'InvalidInput:	The max length of a field has been exceeded or other input error. Specific error message will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Address length is too long"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users/login:
    post:
      tags:
        - Users
      summary: 'Get login'
      description: 'Logs in and returns the authentication cookie'
      requestBody:
        description: A JSON object containing the login and password
        required: true
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/DTOLoginRequest'
      security: [] # no authentication
      responses:
        '200':
          description: 'Login response, information about the user'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOLoginResponse'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users/loginConsignee:
    post:
      tags:
        - Users
      summary: 'Get login consignee'
      description: 'Get WebKey from shipmentId, postal code, last 4 digits of phone number'
      requestBody:
        description: A JSON object containing the login information
        required: true
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/DTOLoginConsigneeRequest'
      security: [] # no authentication
      responses:
        '200':
          description: 'WebKey to access some restricted features'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: string
              examples:
                    String Response:
                      value:
                        'fHbI7OcsqV3crWztsk12tTCn8CNLmiZop'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users/validateEmail:
    get:
      tags:
        - Users
      summary: 'Validate Email'
      description: 'Checks if email already exists for this account or other accounts'
      operationId: validateEmail
      parameters:
        - name: email
          in: query
          example: "test@test.com"
          required: true
          schema:
            type: string
        - name: customerId
          in: query
          example: 113300
          required: true
          schema:
            type: integer
      security: [] # no authentication
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: string
                enum: [AlreadyTaken, ExistsOtherAccount, DoesNotExist]
                example: DoesNotExist
                default: DoesNotExist
                description: If AlreadyTaken, we can't create this user because it already exists. If ExistsOtherAccount, the user should confirm his password and the new user will have the same password. If DoesNotExist, the email is available and the user will be created with the chosen password.
              examples:
                String Response:
                  value:
                    DoesNotExist
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users/validatePassword:
    post:
      tags:
        - Users
      summary: 'Validate Password'
      description: 'Checks if password is valid with a corresponding e-mail.'
      operationId: validatePassword
      requestBody:
        description: A JSON object containing the email and password
        required: true
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/DTOValidatePassword'
      security: [] # no authentication
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users/name:
    get:
      tags:
        - Users
      summary: 'Get Name'
      description: 'Gets Firstname and Lastname from email.'
      operationId: getname
      parameters:
        - name: email
          in: query
          example: "test@test.com"
          required: true
          schema:
            type: string
      security: [] # no authentication
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOUser'
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "Page not found"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users/fromid/{id}:
    get:
     tags:
       - Users
     summary: 'Get User from user id'
     description: "Get user from user id"
     operationId: getUser
     parameters:
       - in: path
         name: id
         description: User Id
         required: true
         example: 20
         schema:
           type: integer
     security:
       - BasicAuth: []
     responses:
         '200':
           description: 'Success'
           content:
             application/json:
              schema:
                $ref: '#/components/schemas/DTOUser'
         '401':
           description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
           content:
             application/json:
               schema:
                 $ref: '#/components/responses/Unauthorized'
               example: 
                 code: 401
                 message: "Invalid key"
         '404':
           description: 'NotFound: The resource requested does not exist'
           content:
             application/json:
               schema:
                 $ref: '#/components/responses/NotFound'
               example: 
                 code: 404
                 message: "Page not found"
         '500':
           description: 'InternalServerError:   There has been an unexpected error in our server'
           content:
             application/json:
               schema:
                 $ref: '#/components/responses/InternalServerError'
               example: 
                 code: 500
                 message: "Internal server error"
  /Users/:
    post:
      tags:
        - Users
      summary: 'Create user'
      description: "Create a user's account"
      operationId: createUser
      requestBody:
        description: User object as JSON
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DTOUser'
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "Page not found"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users/{id}:
    put:
      tags:
        - Users
      summary: 'Update user'
      description: 'Update an user account'
      operationId: updateUser
      parameters:
        - name: id
          in: path
          description: ID of the user
          required: true
          example: 1038
          schema:
            type: integer
            format: int32
      requestBody:
        description: User object as JSON
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DTOUser'
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "Page not found"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    delete:
      tags:
        - Users
      summary: 'Delete user'
      description: 'Delete a user account'
      operationId: deleteUser
      security:
        - BasicAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the user
          required: true
          example: 1038
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "Page not found"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users/{username}/changePassword:
    post:
      tags:
        - Users
      summary: Change Password'
      description: 'Change a user''s password'
      operationId: changePassword
      parameters:
        - name: username
          in: path
          description: Username of the user that is used for login on Nationex's website
          required: true
          example: 1038
          schema:
            type: integer
            format: int32
      requestBody:
        description: Request to change password
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DTOChangePasswordRequest'
      security: [] # no authentication
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: Password change failed'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: UserId does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "Page not found"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users:
    get:
      tags:
        - Users
      summary: 'Get User List'
      description: "Get user list"
      operationId: getUserList
      parameters:
        - in: query
          name: customerId
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DTOUser'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/:
    get:
      tags:
        - Customers
      summary: 'Get customer info'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema: 
            type: integer
            format: int32
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOCustomerInfo'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The CustomerInfo does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 409
                message: "Resource not found"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"  
  /Customers/{id}/rates:
    post:
      tags:
        - Customers
      summary: 'Get rates'
      description: 'Get rates for a shipment'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
      security:
        - BasicAuth: []
      requestBody:
          description: Shipment rates request
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOShipmentRatesRequest'
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTORatesDetail'
        '400':
          description: 'InvalidInput: 	The postal code is not covered by Nationex or other invalid input. The specific error message will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "The postal code 'A0A0A7' is not served by Nationex"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/consignees:
    post:
      tags:
        - Customers
      summary: 'Create consignee'
      description: 'Create a consignee'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
      requestBody:
          description: Consignee to modify
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOConsignee'
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOConsigneeCreated'
        '400':
          description: 'InvalidInput:	The max length of a field has been exceeded or other input error. Specific error message will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Address1 length is too long"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/consignees/{consigneeId}:
    get:
      tags:
        - Customers
      summary: 'Get consignee'
      description: 'Get consignee details'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: path
          name: consigneeId
          description: Consignee Id used to identify and retrieve the consignee, also known as Account Id
          required: true
          example: 234423
          schema:
            type: integer
            format: int64
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOConsignee'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ConsigneeId 388283984 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    put:
      tags:
        - Customers
      summary: 'Modify consignee'
      description: 'Modify a consignee details'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: path
          name: consigneeId
          description: Consignee Id used to identify and retrieve the consignee, also known as Account Id
          required: true
          example: 234553
          schema:
            type: integer
            format: int64
      requestBody:
          description: Consignee to modify
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOConsignee'
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                        value:
                          true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ConsigneeId 388283984 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    delete:
      tags:
        - Customers
      summary: 'Delete consignee'
      description: 'Delete a consignee'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: path
          name: consigneeId
          description: Consignee Id used to identify and retrieve the consignee, also known as Account Id
          required: true
          example: 234644
          schema:
            type: integer
            format: int64
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ConsigneeId 388283984 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/consignees/:
    get:
      tags:
        - Customers
      summary: 'Get consignee list'
      description: 'Get list of consignee details'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: query
          name: paging
          description: Page number starting at 0
          required: false
          example: 0
          schema:
            type: integer
            format: int32
            default: 0
        - in: query
          name: count
          description: Number of consignees returned
          required: false
          example: 100
          schema:
            type: integer
            format: int32
            maximum: 5000
            default: 100
        - in: query
          name: search
          description: 'Address string to be searched, if empty all consignees will be returned'
          required: false
          example: '123 rue Patate'
          schema:
            type: string
        - in: query
          name: includeArchived
          description: If true, also return the consignees that have been deleted
          required: false
          example: false
          schema:
            type: boolean
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DTOConsignee'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/consignees/validate:
    get:
      tags:
        - Customers
      summary: 'Validate Consignee'
      description: 'Returns true if the consignee is not a duplicate'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: query
          name: noDest
          description: Destination account number
          required: true
          example: '34343A'
          schema:
            type: string
        - in: query
          name: address1
          description: Destination Address1
          required: true
          example: '34343A'
          schema:
            type: string
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/consignees/import:
    post:
      tags:
        - Customers
      summary: 'Import Consignees'
      description: 'Imports a list of consignees file, xlsx format'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
      requestBody:
        content:
          xlsx:
            schema:
              type: string
              format: binary
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '400':
          description: 'InvalidInput: No file attached'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "No file attached"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/contacts/{contactId}:
    get:
      tags:
        - Customers
      summary: 'Get contact'
      description: 'Get contact details'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: path
          name: contactId
          description: Contact Id used to identify and retrieve the contact
          required: true
          example: 104423
          schema:
            type: integer
            format: int32
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOContact'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ContactId 388283984 does not exist"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    put:
      tags:
        - Customers
      summary: 'Modify contact'
      description: 'Modify a contact details'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: path
          name: contactId
          description: Contact Id used to identify and retrieve the contact
          required: true
          example: 104553
          schema:
            type: integer
            format: int32
      requestBody:
          description: Contact to modify
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOContact'
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                        value:
                          true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ContactId 388283984 does not exist"
        '500':
          description: 'InternalServerError: There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    delete:
      tags:
        - Customers
      summary: 'Delete contact'
      description: 'Delete a contact'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: path
          name: contactId
          description: Contact Id used to identify and retrieve the consignee
          required: true
          example: 104644
          schema:
            type: integer
            format: int32
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ContactId 388283984 does not exist"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/contacts/:
    get:
      tags:
        - Customers
      summary: 'Get contact list'
      description: 'Get all contacts details'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DTOContact'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/contacts:
    post:
      tags:
        - Customers
      summary: 'Create contact'
      description: 'Create contact'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
      requestBody:
          description: Contact to create
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOContact'
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOContactCreated'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ContactId 388283984 does not exist"
        '500':
          description: 'InternalServerError: There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/parcelTemplate/:
    get:
      tags:
        - Customers
      summary: 'Get parcel templates'
      description: 'Get parcel templates'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: query
          name: description
          description: Description of parcel template
          required: false
          example: test
          schema:
            type: string
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DTOParcelTemplate'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    delete:
      tags:
        - Customers
      summary: 'Delete parcel templates'
      description: 'Delete parcel templates'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: query
          name: description
          description: Description of parcel template
          required: false
          example: test
          schema:
            type: string
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                type: boolean
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
[...]
