openapi: 3.0.0
info:
  description: |
    Welcome to our Nationex integration API.
    All of Nationex's APIS are organized around REST. If you’ve used RESTful APIs before, many of the concepts here will be familiar to you. 
    Each resource has a unique URL, and HTTP verbs are used to specify actions you want to perform on each resource. 
    All request and response bodies, including errors, are encoded in JSON.

    # Introduction
    Here’s what you can do with our APIs :
    - Create, update, cancel shipment.
    - Get shipment current status.
    - Get shipment rates.
    - Get shipment manifest.
    - Get labels. 

    # API version
    We release new versions when we make backwards-incompatible changes to our APIs.
    The current version of our APIs is v4, so the base URL will always look something like this :

    **https://api.nationex.com/api/v4**

    # Requirements
      You need to get API keys from our IT team at **tech@nationex.com**. You will start with API devlopement key and when you are ready to go live you will change your API for the production one.

    # Authentication
    Nationex Restfull API needs authentication:
      Basic authentication is a simple authentication scheme built into the HTTP protocol. The client sends HTTP requests with the `Authorization header` that contains the word Basic word followed by a space and **a base64-encoded string username:password**. 
      For example, to authorize as demo / p@55w0rd the client would send Authorization: Basic ZGVtbzpwQDU1dzByZA==
    <SecurityDefinitions />
    # Response code
    | Status Code | Description | Note |
      |----|----|----|
      |`200` |  OK - The request was successful (some API calls may return 201 instead on `PUT`).|  <ul><li>GET request returns a representation of the requested entity.</li><li>The body of other requests will be a Status entity.</li></ul>|
      |`201` | Created - The request was successful and a resource was created. |<ul><li>This cannot happen on GET or DELETE requests.</li><li>This will happen on POST and may happen on PUT requests. </li></ul>
      |`204` | No Content | <ul><li>The request was successful but there is no representation to return (that is, the response is empty). </li></ul>|
      |`400` | Bad Request |  <ul><li>The request is invalid the body was missing required parameters and or parameter did not respect data validation see error messages in body.</li></ul>|
      |`401` | Unauthorized | <ul><li>Client authentication failed (invalid **user/password**). </li></ul> |
      |`403` | Forbidden | <ul><li>Access denied due to missing **Permissions**</li></ul>|
      |`404` | Not Found | <ul><li>No resource was found at this location (URI)</li><li>If the requested URL contains an **ID** , this means that we did not find anything matching the ID</li></ul>|
      |`405` | Method Not Allowed | <ul><li>Requested method is not supported for the specified resource. </li></ul>|
      |`406` | Not Acceptable | <ul><li>Request contains **Bad headers** for this request</li></ul>|
      |`5xx` | Server-Side Error | <ul><li>These codes should not be set programmatically and are reserved for unexpected errors. </li></ul>|
  version: '4.0'
  title: Nationex API
  contact:
    email: tech@nationex.com
    url: https://nationex.com
  x-logo:
    url: 'https://apidocs.nationex.com/images/Nationex_logo.png'
    altText: Nationex logo    
servers:
  - url: 'https://api.nationex.com/api/v4'
    variables:
      environment:
        default: Development
        enum:
          - Production
          - Development
      version:
        default: "4"
        enum:
          - "4"
paths:
  /Shipments:
    post:
      tags:
        - Shipments
      summary: 'Create shipment'
      description: 'Create a new shipment'
      security:
        - BasicAuth: []
      requestBody:
          description: Shipment to create
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOShipmentCreate'
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOShipmentCreated'
        '400':
          description: 'InvalidInput: 	The max length of a field has been exceeded or the postal code is not covered by Nationex. The specific error message will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Address1 length is too long"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '409':
          description: 'Conflict: The ShipmentId already exists. Can only happen if shipmentId is provided by user (shipmentId != -1)'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Conflict'
              example: 
                code: 409
                message: "Duplicate shipment ID: 501339228"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}:
    get:
      tags:
        - Shipments
      summary: 'Get shipment'
      description: 'Returns details about a particular shipment'
      operationId: getShipment
      parameters:
        - name: id
          in: path
          description: ID of the shipment (9 digits)
          required: true
          example: 999999999
          schema:
            type: integer
            format: int32
            minimum: 100000000
            maximum: 999999999
        - name: tracking
          in: query
          description: Returns tracking (parcel history) or not
          example: true
          required: false
          schema:
            type: boolean
        - name: parcels
          in: query
          description: Returns the parcel infos (weights & dimensions) or not
          example: true
          required: false
          schema:
            type: boolean
        - name: consol
          in: query
          description: Returns all consolidated shipments or not
          example: true
          required: false
          schema:
            type: boolean
        - name: images
          in: query
          description: Returns all photos and signatures of the shipment
          example: true
          required: false
          schema:
            type: boolean
        - name: includeAll
          in: query
          description: Returns all parcel histories that are normally not displayed on the website. This parameter is hidden from the public Api.
          example: true
          required: false
          schema:
            type: boolean
        - name: key
          in: query
          description: (Optional) Allows someone with the key to access the shipment without having Api Basic credentials, the key is unique to the shipment.
          example: "1Z5DKWDpyPfcRDuY13W0UzI5LKfpelgod"
          required: false
          schema:
            type: string
      responses:
        '200':
          description: 'Details about a shipment by ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOShipment'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    delete:
      tags:
        - Shipments
      summary: 'Cancel shipment'
      description: 'Cancel a shipment, can only be used before 8 PM EST'
      operationId: delete
      parameters:
        - name: id
          in: path
          description: ID of the shipment
          required: true
          schema:
            type: integer
            format: int32
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    put:
      tags:
        - Shipments
      summary: 'Update shipment'
      description: 'Update Address, SNR or notes of a shipment'
      operationId: updateShipment
      security:
        - BasicAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the shipment
          required: true
          schema:
            type: integer
            format: int32
            minimum: 100000000
            maximum: 999999999
        - name: key
          in: query
          description: (Optional) Allows someone with the key to access the shipment without having Api Basic credentials, the key is unique to the shipment.
          example: "1Z5DKWDpyPfcRDuY13W0UzI5LKfpelgod"
          required: false
          schema:
            type: string
      requestBody:
          description: "shipment info"
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOShipment'
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                        value:
                          true
        '400':
          description: 'InvalidInput: 	The max length of a field has been exceeded or the postal code is not covered by Nationex. The specific error message will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Address1 length is too long"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}/reports:
    get:
      tags:
        - Shipments
      summary: 'Get shipment status report'
      description: 'Returns details about a particular shipment in PDF'
      operationId: getReports
      parameters:
        - name: id
          in: path
          description: ID of the shipment
          example: 999999999
          required: true
          schema:
            type: integer
            format: int32
        - name: language
          in: query
          required: true
          description: Language of the report
          schema:
            type: string
            enum: [Fr, En]
          example: Fr
        - name: consol
          in: query
          description: Returns the consolIds or not
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: 'Success'
          content:
            application/pdf:
              schema:
                type: string
                format: binary 
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}/labels:
    get:
      tags:
        - Shipments
      summary: 'Get labels'
      description: 'Returns labels attached to a particular shipment'
      operationId: getLabels
      parameters:
        - name: id
          in: path
          description: ID of the shipment or ID of a parcel for a single label
          required: true
          example: 103848576
          schema:
            type: integer
            format: int64
        - name: orientation
          in: query
          description: Orientation of the file
          example: landscape
          required: false
          schema:
            type: string
            enum: [landscape, portrait]
            default: landscape
        - name: format
          in: query
          description: Page format of the file
          required: false
          schema:
            type: string
            enum: [4x6, 85x11]
            default: 4x6
          example: 4x6
      responses:
        '200':
          description: 'Success'
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/{id}/labelsZpl:
    get:
      tags:
        - Shipments
      summary: 'Get labels ZPL'
      description: 'Returns ZPL label strings attached to a particular shipment'
      operationId: getLabelsZpl
      parameters:
        - name: id
          in: path
          description: ID of the shipment or ID of a parcel for a single label
          required: true
          example: 103848576
          schema:
            type: integer
            format: int64
        - name: orientation
          in: query
          description: Orientation of the file
          example: landscape
          required: false
          schema:
            type: string
            enum: [landscape, portrait]
            default: landscape
      responses:
        '200':
          description: 'ZPL String'
          content:
            application/json:
              schema:
                type: object
                properties:
                  ZPLString:
                    type: string
              examples:
                    String Response:
                      value:
                        '^XA^LRY\r\n^CF0,,30^FWR,0^FO750,100^FDLIBRAIRIE LU-LU ( ALQ )^FS\r\n^FO750,770^FDDATE: 2021-05-02^FS\r\n^FO750,1030^FD11:15:07^FS\r\n^FO720,100^FD144890^FS\r\n^FO720,770^FDREF: LIQ631858^FS\r\n^FO710,100^GB1,1040,3^FS\r\n^FO665,100^FDPOIDS(lbs): 1.00^FS\r\n^FO665,350^FD(KG): 0.45^FS\r\n^FO660,100^GB1,1040,3^FS\r\n^FO610,100^FDAURELIE CONSTANCIAS^FS\r\n^FO580,100^FD1259 RUE DU PEKAN^FS\r\n^FO550,100^FD^FS\r\n^FO520,100^FDSAINTE-JULIENNE, QC^FS\r\n^FO490,100^FDJ0K2T0^FS\r\n^CF0,,80^FWR,0^FO540,890^FDJ0K^FS\r\n^FO165,1040^GB95,50,90,b^FS\r\n^FO160,1050^FD^FS\r\n^FO545,720^GB95,160,90,b^FS\r\n^FO540,730^FDBLV^FS\r\n^FO390,1110^FD1^FS\r\n^FO370,660^BY4,2,230^BCr,150,Y,N,N^FDJ0K2T0^FS\r\n^FO80,100^BY5,2,230^B2r,,n,,n^FD999989028016^FS\r\n^CF0,, 45^FWR,0^FO20,210^FD999989028^FS\r\n^CF0,,40^FWR,0^FO70,630^FD1^FS\r\n^FO70,650^FD/1^FS\r\n^FO160,700^GB150,285,75,b^FS\r\n^FO250,720^FDFloor: ^FS\r\n^FO210,720^FDRoute: 25^FS\r\n^FO170,720^FDDriver: 250^FS\r\n^XZ'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Shipments/:
    get:
      tags:
        - Shipments
      summary: 'Get shipment list'
      description: 'Returns the list of shipments if searching by address, or a list containing a single shipment if searching by waybill (ShipmentId, Barcode, ParcelId or Reference)'
      operationId: getListShipment
      parameters:
        - name: customer
          in: query
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema: 
            type: integer
            format: int32
        - name: search
          in: query
          description: Query string for search
          required: false
          schema:
            type: string
          example: 123 Main Street, New York, NY 10030
        - name: waybill
          in: query
          description: Get single shipment from ShipmentId, Barcode, ParcelId or Reference
          required: false
          schema:
            type: string
          example: 501938372
        - name: startDate
          in: query
          description: Start date in date range, defaults to current date.
          required: false
          schema:
            type: string
            format: date
          example: "2018-05-01"
        - name: endDate
          in: query
          description: End date in date range, defaults to current date.
          required: false
          schema:
            type: string
            format: date
          example: "2018-06-01"
        - name: page
          in: query
          description: Page number
          required: false
          schema:
            type: integer
            format: int32
          example: "1"
        - name: size
          in: query
          description: Number of results per page
          required: false
          schema:
            type: integer
            format: int32
          example: "20"
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DTOShipment'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users/login:
    post:
      tags:
        - Users
      summary: 'Get login'
      description: 'Logs in and returns the authentication cookie'
      requestBody:
        description: A JSON object containing the login and password
        required: true
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      security: [] # no authentication
      responses:
        '200':
          description: >
            Successfully authenticated
            The session ID is returned in a cookie named `JSESSIONID`. You need to include this cookie in subsequent requests.
          #headers:
          #  Set-Cookie:
          #    schema:
          #      type: string
          #      example: JSESSIONID=abcde12345; Path=/; HttpOnly
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users/loginConsignee:
    post:
      tags:
        - Users
      summary: 'Get login'
      description: 'Get WebKey from shipmentId, postal code, last 4 characters of note'
      requestBody:
        description: A JSON object containing the login and password
        required: true
        content: 
          application/json:
            schema:
              $ref: '#/components/schemas/DTOLoginConsigneeRequest'
      security: [] # no authentication
      responses:
        '200':
          description: 'WebKey to access some restricted features'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: string
              examples:
                    String Response:
                      value:
                        'fHbI7OcsqV3crWztsk12tTCn8CNLmiZop'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ShipmentId 501399432 does not exist"
        '500':
          description: 'InternalServerError: There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users/:
    post:
      tags:
        - Users
      summary: 'Create user'
      description: 'Update an user account'
      operationId: createUser
      requestBody:
        description: User object as JSON
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DTOUser'
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "Page not found"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users/{id}:
    put:
      tags:
        - Users
      summary: 'Update user'
      description: 'Update an user account'
      operationId: updateUser
      parameters:
        - name: id
          in: path
          description: ID of the user
          required: true
          example: 1038
          schema:
            type: integer
            format: int32
      requestBody:
        description: User object as JSON
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DTOUser'
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "Page not found"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    delete:
      tags:
        - Users
      summary: 'Delete user'
      description: 'Delete a user account'
      operationId: deleteUser
      security:
        - BasicAuth: []
      parameters:
        - name: id
          in: path
          description: ID of the user
          required: true
          example: 1038
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "Page not found"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Users/{id}/changePassword:
    post:
      tags:
        - Users
      summary: Change Password'
      description: 'Change a user''s password'
      operationId: changePassword
      parameters:
        - name: id
          in: path
          description: ID of the user
          required: true
          example: 1038
          schema:
            type: integer
            format: int32
      requestBody:
        description: Request to change password
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DTOChangePasswordRequest'
      security: [] # no authentication
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "Page not found"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/:
    get:
      tags:
        - Customers
      summary: 'Get customer info'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema: 
            type: integer
            format: int32
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOCustomerInfo'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The CustomerInfo does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 409
                message: "Resource not found"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"  
  /Customers/{id}/rates:
    post:
      tags:
        - Customers
      summary: 'Get rates'
      description: 'Get rates for a shipment'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
      security:
        - BasicAuth: []
      requestBody:
          description: Shipment rates request
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOShipmentRatesRequest'
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTORatesDetail'
        '400':
          description: 'InvalidInput: 	The postal code is not covered by Nationex or other invalid input. The specific error message will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "The postal code 'A0A0A7' is not served by Nationex"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/consignees:
    post:
      tags:
        - Customers
      summary: 'Create consignee'
      description: 'Create a consignee'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
      requestBody:
          description: Consignee to modify
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOConsignee'
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOConsigneeCreated'
        '400':
          description: 'InvalidInput:	The max length of a field has been exceeded or other input error. Specific error message will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Address1 length is too long"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/consignees/{consigneeId}:
    get:
      tags:
        - Customers
      summary: 'Get consignee'
      description: 'Get consignee details'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: path
          name: consigneeId
          description: Consignee Id used to identify and retrieve the consignee, also known as Account Id
          required: true
          example: 234423
          schema:
            type: integer
            format: int64
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOConsignee'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ConsigneeId 388283984 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    put:
      tags:
        - Customers
      summary: 'Modify consignee'
      description: 'Modify a consignee details'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: path
          name: consigneeId
          description: Consignee Id used to identify and retrieve the consignee, also known as Account Id
          required: true
          example: 234553
          schema:
            type: integer
            format: int64
      requestBody:
          description: Consignee to modify
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOConsignee'
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                        value:
                          true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ConsigneeId 388283984 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    delete:
      tags:
        - Customers
      summary: 'Delete consignee'
      description: 'Delete a consignee'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: path
          name: consigneeId
          description: Consignee Id used to identify and retrieve the consignee, also known as Account Id
          required: true
          example: 234644
          schema:
            type: integer
            format: int64
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ConsigneeId 388283984 does not exist"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/consignees/:
    get:
      tags:
        - Customers
      summary: 'Get consignee list'
      description: 'Get list of consignee details'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: query
          name: paging
          description: Page number starting at 0
          required: true
          example: 0
          schema:
            type: integer
            format: int32
            default: 0
        - in: query
          name: count
          description: Number of consignees returned
          required: true
          example: 100
          schema:
            type: integer
            format: int32
            maximum: 5000
        - in: query
          name: includeArchived
          description: If true, also return the consignees that have been deleted
          required: false
          example: false
          schema:
            type: boolean
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DTOConsignee'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/consignees/validate:
    get:
      tags:
        - Customers
      summary: 'Validate Consignee'
      description: 'Returns true if the consignee is not a duplicate'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: query
          name: noDest
          description: Destination account number
          required: true
          example: '34343A'
          schema:
            type: string
        - in: query
          name: address1
          description: Destination Address1
          required: true
          example: '34343A'
          schema:
            type: string
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/consignees/import:
    post:
      tags:
        - Customers
      summary: 'Import Consignees'
      description: 'Imports a list of consignees file, xlsx format'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
      requestBody:
        content:
          xlsx:
            schema:
              type: string
              format: binary
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '400':
          description: 'InvalidInput: The address is invalid or already exists'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Address1 'abc' is invalid"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/contacts/{contactId}:
    get:
      tags:
        - Customers
      summary: 'Get contact'
      description: 'Get contact details'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: path
          name: contactId
          description: Contact Id used to identify and retrieve the contact
          required: true
          example: 104423
          schema:
            type: integer
            format: int64
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOContact'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ContactId 388283984 does not exist"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    put:
      tags:
        - Customers
      summary: 'Modify contact'
      description: 'Modify a contact details'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: path
          name: contactId
          description: Contact Id used to identify and retrieve the contact
          required: true
          example: 104553
          schema:
            type: integer
            format: int64
      requestBody:
          description: Contact to modify
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOContact'
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                        value:
                          true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ContactId 388283984 does not exist"
        '500':
          description: 'InternalServerError: There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
    delete:
      tags:
        - Customers
      summary: 'Delete contact'
      description: 'Delete a contact'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
        - in: path
          name: contactId
          description: Contact Id used to identify and retrieve the consignee
          required: true
          example: 104644
          schema:
            type: integer
            format: int64
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                      value:
                        true
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ContactId 388283984 does not exist"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/contacts/:
    get:
      tags:
        - Customers
      summary: 'Get contact list'
      description: 'Get all contacts details'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DTOContact'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/contacts:
    post:
      tags:
        - Customers
      summary: 'Create contact'
      description: 'Create contact'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
            minimum: 10000
            maximum: 999999
      requestBody:
          description: Contact to create
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOContact'
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOContactCreated'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "ContactId 388283984 does not exist"
        '500':
          description: 'InternalServerError: There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/transitDelay:
    get:
      tags:
        - Customers
      summary: 'Get transit delay'
      description: 'Get estimated date of delivery for a specified Destination'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
        - in: query
          name: shipmentType
          description: Type of shipment
          required: false
          schema:
            type: string
            enum: [Delivery, PickupReturn, PickupDelivery]
            example: Delivery
            default: Delivery
        - in: query
          name: destPostalCode
          description: Postal Code of the destination, required for Delivery and PickupDelivery. Customer's postal code is used as default for PickupReturn.
          required: false
          example: J4T2S2
          schema:
            type: string
            maxLength: 6
        - in: query
          name: origPostalCode
          description: Postal Code of the origin, required for PickupReturn and PickupDelivery. Customer's postal code is used by default for Delivery
          required: false
          example: J4Z2S5
          schema:
            type: string
            maxLength: 6
        - in: query
          name: pickupDate
          description: Date of pickup. Defaults to Today for Delivery, and to next business day for PickupReturn and PickupDelivery.
          required: false
          example: "2021-05-07"
          schema:
            type: string
            format: date
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOTransitDelay'
        '400':
          description: 'InvalidInput:	The postal code is not server by Nationex or other input error. Specific error message will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Postal code A0A0A7 is not served by Nationex"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "Postal code A0A0A0 not found"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/driverManifests:
    get:
      tags:
        - Customers
      summary: 'Get driver manifest'
      description: 'Get a PDF report to print and give to the Nationex driver when he comes and pick up shipments'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
        - in: query
          name: startDate
          description: Starting date of the shipments included in the manifest. Defaults to current date
          required: false
          example: "2021-03-31"
          schema:
            type: string
        - in: query
          name: endDate
          description: Ending date of the shipments included in the manifest. Defaults to current date
          required: false
          example: "2021-03-31"
          schema:
            type: string
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          headers:
            Content-Disposition:
              schema:
                type: string
                description: Used only with `application/pdf` responses
                example: attachment; filename="manifest_2021-04-28.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/customerManifests:
    get:
      tags:
        - Customers
      summary: 'Get customer manifest'
      description: 'Get a list of shipments created between specified dates in PDF or XLSX format'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
        - in: query
          name: startDate
          description: Starting date of the shipments included in the report. Defaults to the current date
          required: false
          example: "2021-03-31"
          schema:
            type: string
        - in: query
          name: endDate
          description: Ending date of the shipments included in the report. Defaults to the current date
          required: false
          example: "2021-03-31"
          schema:
            type: string
        - in: query
          name: format
          description: Format of the report, either pdf or xlsx. Defaults to PDF
          required: false
          example: pdf
          schema:
            type: string
            enum: [xlsx, pdf]
            default: pdf
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          headers:
            Content-Disposition:
              schema:
                type: string
                description: Used only with `application/pdf` responses
                example: attachment; filename="manifest_2021-04-28.pdf"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/economaxPackage:
    put:
      tags:
        - Customers
      summary: 'Renew economax package'
      description: 'Renew an economax package'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
      requestBody:
          description: Renewal package information
          required: true
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOEconomaxPackageRenewal'
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                        value:
                          true
        '400':
          description: 'InvalidInput:	Specific error message will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Customer 113300 is not active"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError: 	There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/SendPickupNotification:
    get:
      tags:
        - Customers
      summary: 'Send a pickup notification'
      description: 'Sends a notification to the  email provided'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
        - in: query
          name: shipmentId
          description: Nationex Shipment Id (9 digits)
          required: true
          example: 501293728
          schema:
            type: integer
            format: int32
            minimum: 100000000
            maximum: 999999999
        - in: query
          name: email
          description: Email address
          required: true
          example: myemail@gmail.com
          schema:
            type: string
        - in: query
          name: language
          description: "Email language"
          required: true
          example: Fr
          schema:
            type: string
            enum: [Undefined, Fr, En]
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                        value:
                          true
        '400':
          description: 'InvalidInput:  Specific error message will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Email myem/ail@gmail.com is invalid"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/SendPickupLivNotification:
    get:
      tags:
        - Customers
      summary: 'Send pickup-delivery notification'
      description: 'Sends a notification to the email provided'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
        - in: query
          name: shipmentId
          description: Nationex Shipment Id (9 digits)
          required: true
          example: 501293728
          schema:
            type: integer
            format: int32
            minimum: 100000000
            maximum: 999999999
        - in: query
          name: email
          description: Email address
          required: true
          example: myemail@gmail.com
          schema:
            type: string
        - in: query
          name: language
          description: "Email language" 
          required: true
          example: Fr
          schema:
            type: string
            enum: [Undefined, Fr, En]
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Success'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                        value:
                          true
        '400':
          description: 'InvalidInput:  Specific error message will be returned'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Email myem/ail@gmail.com is invalid"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/billing:
    get:
      tags:
        - Customers
      summary: 'Get invoice list'
      description: 'Get a list of invoices infos and links to download individual documents'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
        - in: query
          name: startDate
          description: Starting date for invoices
          required: true
          example: '2021-02-05'
          schema:
            type: string
            format: date
        - in: query
          name: endDate
          description: Ending date for invoices
          required: true
          example: '2021-05-05'
          schema:
            type: string
            format: date
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DTOInvoiceInfo'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "No invoice found"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/rateList:
    get:
      tags:
        - Customers
      summary: 'Get rates PDF'
      description: 'Get a PDF for the customer''s rates'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          headers:
            Content-Disposition:
              schema:
                type: string
                description: Used only with `application/pdf` responses
                example: attachment; filename="rates_113300_2021-04-28.pdf"
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Customers/{id}/validateCollect:
    get:
      tags:
        - Customers
      summary: 'Validate Collect'
      description: 'Validate collect account'
      parameters:
        - in: path
          name: id
          description: Nationex Customer Id (5 or 6 digits)
          required: true
          example: 113300
          schema:
            type: integer
            format: int32
        - in: query
          name: customerId
          description: Nationex Customer Id (5 or 6 digits) of the collect account
          required: true
          example: 165556
          schema:
            type: integer
            format: int32
        - in: query
          name: postalCode
          description: Postal code of the collect account
          required: true
          example: J3Y5T7
          schema:
            type: string
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'True if the collect account is valid'
          content:
            application/json:
              schema:
                type: object
                properties:
                  Success:
                    type: boolean
              examples:
                    Boolean Response:
                        value:
                          false
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Locations/{postalCode}:
    get:
      tags:
        - Locations
      summary: 'Get location'
      description: 'Get location services availability'
      parameters:
        - in: path
          name: postalCode
          description: Postal code
          required: true
          example: H1B1Y8
          schema:
            type: string
            maxLength: 6
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DTOLocation'
        '400':
          description: 'InvalidInput:  The postal code format is invalid'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InvalidInput'
              example: 
                code: 400
                message: "Postal code A0A0A is not valid"
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '404':
          description: 'NotFound: The resource requested does not exist'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/NotFound'
              example: 
                code: 404
                message: "Postal code D0A1A0 does not exist"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"
  /Locations:
    get:
      tags:
        - Locations
      summary: 'Get location list'
      description: 'Get list of locations services availability'
      parameters:
        - in: query
          name: page
          description: Page iterator
          required: true
          example: 0
          schema:
            type: integer
            format: int32
            minimum: 0
            default: 0
        - in: query
          name: count
          description: "Locations count"
          required: true
          example: 100
          schema:
            type: integer
            format: int32
            maximum: 5000
      security:
        - BasicAuth: []
      responses:
        '200':
          description: 'Ok'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/DTOLocation'
        '401':
          description: 'Unauthorized: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers.'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/Unauthorized'
              example: 
                code: 401
                message: "Invalid key"
        '500':
          description: 'InternalServerError:   There has been an unexpected error in our server'
          content:
            application/json:
              schema:
                $ref: '#/components/responses/InternalServerError'
              example: 
                code: 500
                message: "Internal server error"     
components:
  securitySchemes:
    BasicAuth:     # <-- arbitrary name for the security scheme
      type: http
      scheme: basic
  responses:
      NotFound:
        description: "ErrorCode 404: The specified resource was not found"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Error'
      Unauthorized:
        description: "ErrorCode 401: The key is either missing, or is used on the wrong server, or is not associated with the provided CustomerId. Dev keys can only be used on our dev servers and production keys can only be used on our production servers."
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Error'
      Conflict:
        description: "ErrorCode 409: The resource already exists"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Error'
      InternalServerError:
        description: "ErrorCode 500: There has been an unexpected error in our server"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Error'
      InvalidInput:
        description: "ErrorCode 400: There is some part of the input that is invalid"
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Error'
  schemas:
    LoginRequest:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
          description: User's username
          example: user123
        password:
          type: string
          description: User's password
          example: password123
    DTOLoginConsigneeRequest:
      type: object
      required:
        - ShipmentId
        - PostalCode
        - NoteEnd
      properties:
        ShipmentId:
          type: string
          description: 9 digits number, used to identify and track the shipment
          example: user123
        PostalCode:
          type: string
          description: User's password
          example: A0A0A7
        NoteEnd:
          type: string
          description: '4 last characters of the shipment Note'
          example: 8293
    DTOUser:
      type: object
      required:
        - Username
      properties:
        UserId:
          type: string
          description: User Id
          example: 29109
        Username:
          type: string
          description: User's username
          example: User123
        Password:
          type: string
          description: User's password
          example: Password123
        Email:
          type: string
          description: User's email
          example: test@test.com
        FirstName:
          type: string
          description: First name
          example: Joe
        LastName:
          type: string
          description: Last name
          example: Dough
        IsMaster:
          type: boolean
          description: Is master
        LastLogin:
          type: string
          format: date-time
          description: Date and time of last login
        LastUpdate:
          type: string
          format: date-time
          description: Date and time of last update
        DateInsert:
          type: string
          format: date-time
          description: Date and time of creation
        DownloadManifest:
          type: boolean
          description: Has access to download manifest
        ShowRate:
          type: boolean
          description: Has access to see rates
        ShowInvoice:
          type: boolean
          description: Has access to see invoices
        RenewEconomax:
          type: boolean
          description: Has access to renew economax package
        ShowEconomaxBank:
          type: boolean
          description: Has access to see economax balance
        ShowShipmentHistory:
          type: boolean
          description: Has access to see shipment history
    DTOParcelHistory:
      type: object
      description: 'Event of a single parcel'
      properties:
        ParcelHistoryId:
          type: integer
          format: int64
          description: 'ID of the parcel history'
          example: 3049373748
        ProcessedDate:
          type: string
          format: date-time
          description: 'Date time of the event'
          example: "2021-03-31 13:31:00"
        ExceptionId:
          type: integer
          format: int32
          description: 'ID of the exception code'
          example: 5
        CityDepot:
          type: string
          description: 'Name of the city of the depot where the event occured'
          example: 'Blainville'
        DescriptionFr:
          type: string
          description: 'Description of parcel history in french'
          example: 'Destinataire indisponible - Tentative de livraison le jour ouvrable suivant'
        DescriptionEn:
          type: string
          description: 'Description of parcel history in english'
          example: 'Unavailable consignee - Delivery attempt on next business day'
        PhotoId:
          type: integer
          format: int64
          description: 'Id of the photo image, found in DTOShipment'
          example: 18840452
        SignatureId:
          type: integer
          format: int64
          description: 'Id of the signature image, found in DTOShipment'
        Geocoding:
          $ref: '#/components/schemas/DTOGeocoding'
    DTOAccessory:
      type: object
      properties:
        InsuranceAmount:
          type: number
          format: float
          description: "Total price value to be insured"
          maximum: 2500
          example: 0
          default: 0
        FrozenProtection:
          type: boolean
          description: "Freezing protection"
        DangerousGoods:
          type: boolean
          description: "Dangerous goods"
        Before10h30am:
          type: boolean
          description: "Deliver before 10:30 AM service"
        SNR:
          type: boolean
          description: "No signature required"
        COD:
          $ref: '#/components/schemas/DTOCashOnDelivery'
    DTOCashOnDelivery:
      type: object
      properties:
        CODType:
          type: string
          example: "Check"
          enum: [NoCOD, Check, Cash, PostDatedCheck, CertifiedCheck]
          description: "Type of Cash on delivery"
        CODAmount:
          type: number
          format: float
          example: 24.12
          default: 0
          maximum: 50000
          description: "Amount of cash on delivery"
    DTODestination:
      type: object
      properties:
        Contact:
          type: string
          description: Name of the person receiving the shipment
          example: Sonia
          maxLength: 50
        AccountNumber:
          type: string
          description: Account Id used to identify and retrieve the consignee
          example: NC33233
          maxLength: 20
[...]
